<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Buurtcampus">
    <meta name="keywords" content="HTML,CSS,Node,JS,EJS">
    <meta name="author" content="Duneya, Ralph en Tolga">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" property="og:title" content="Duneya, Ralph en Tolga">
    <link rel="shortcut icon" href="fav-icon">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js"></script>
    <title>PLANT SWAP</title>
   
  </head>
  <body>  
    <%- include('./nav.ejs') %>
    <main class="container">

    