<header>
  <nav>
    <img src="/assets/Home-logo.png" alt="Plant Swap" width="257" height="123">
     <div class="main-nav_list">
     <a href="/">Home</a>
     <a href="/plants">Alle stekjes</a>
     <a href="#">Duurzaamheid</a>
     <a href="/workshops">Workshops</a>
     <a href="#">Contact</a>
     <a href="#">Over ons</a>
   </div>
    </nav>
   </header>  