<header>
     <div class="main-nav_list">
     <a href="/">Home</a>
     <a href="#">About Us</a>
     <a href="#">Stekjes</a>
     <a href="#">News</a>
     <a href="#">Netwerk</a>
     <a href="#">Contact</a>
   </div>
    </nav>
   </header>