<header>
  <nav>
    <img src="/assets/Home-logo.png" class="plant-swap-logo" alt="Plant Swap" width="257" height="123">
    <img src="/assets/menuIcon.svg" class="menu-icon" alt="menu icon">
  </nav>
  <div class="main-nav_list">
    <a href="/">Home <img src=/assets/chevronright.svg class="chevron-right"></a>
    <a href="/plants">Alle stekjes <img src=/assets/chevronright.svg class="chevron-right"></a>
    <a href="#">Duurzaamheid <img src=/assets/chevronright.svg class="chevron-right"></a>
    <a href="/workshops">Workshops <img src=/assets/chevronright.svg class="chevron-right"></a>
    <a href="#">Contact <img src=/assets/chevronright.svg class="chevron-right"></a>
    <a href="#">Over ons <img src=/assets/chevronright.svg class="chevron-right"></a>
    <img src="/assets/backIcon.svg" class="close-button" alt="back icon">
  </div>
</header>  