<%- include('./partials/head.ejs') %>

<section class="durability">
    <h1><span>Duur</span><span>zaam</span><span>heid</span></h1>
    <section class="durability-text">
        <section class="durability-text-item-1">
            <p>Planten stekken is een populaire manier om nieuwe planten te kweken en te vermeerderen, en het is ook een duurzame optie voor plantenliefhebbers. Door planten te stekken, kan je namelijk nieuwe planten laten groeien zonder extra zaden te kopen of nieuwe planten te kopen. Dit bespaart niet alleen geld, maar helpt ook om de ecologische voetafdruk van de plantenindustrie te verminderen. Bovendien draagt het stekken van planten bij aan de biodiversiteit. Veel tuinliefhebbers zijn gewend om dezelfde soorten planten jaar na jaar te kopen, waardoor een beperkt scala aan planten in de tuinen ontstaat. Door zelf planten te stekken, kun je unieke variëteiten en lokale plantensoorten introduceren. Dit bevordert de diversiteit van flora en fauna in jouw directe omgeving, en draagt zo bij aan het behoud van de natuurlijke balans.</p>
    
            <img src="/assets/plantsWorld(2).png" class="durability-image">
        </section>
        <section class="durability-text-item-2">
            <section>
                <p>Een ander voordeel van planten stekken is dat het een gemakkelijke en goedkope manier is om planten te delen met vrienden, familie en buren. Door stekjes te delen, kunnen we meer mensen betrekken bij het genieten van planten en de voordelen van de natuur.</p>
                <p>Planten stekken is ook een duurzame optie omdat het kan helpen bij het verminderen van afval. Als je bijvoorbeeld een plant hebt die te groot is geworden voor zijn pot, kan je de plant stekken en de nieuwe stekjes in kleinere potten planten. Op deze manier kan je de plant in leven houden en tegelijkertijd nieuwe planten creëren die je cadeau kunt doen of kunt verkopen.</p>
            </section>
            <img src="/assets/plantsWorld(1).png" class="durability-image-1" alt="groene wereldbol">
        </section>
        <section class="durability-text-item-3">
            <section>
                <p>Bovendien kunnen planten die zijn gestekt vaak gemakkelijker worden verzorgd dan planten die uit zaad zijn gekweekt. Dit komt omdat gestekte planten vaak al zijn aangepast aan de omgeving waarin ze groeien en daarom beter bestand zijn tegen ziektes en plagen. Dit kan resulteren in minder gebruik van pesticiden en andere chemicaliën, wat beter is voor zowel de gezondheid van de planten als voor het milieu.</p>
                <p>Tot slot is het belangrijk om te onthouden dat duurzaamheid begint bij ons als individuen. Door bewust te zijn van de impact die onze plantenhobby heeft op het milieu, en door te kiezen voor duurzame opties zoals planten stekken, kunnen we allemaal ons steentje bijdragen aan een betere toekomst voor onze planeet.</p>
            </section>
            <img src="/assets/plantsWorld.png" class="durability-image-2" alt="groene wereldbol">
        </section>
    </section>
</section>    
<%- include('./partials/foot.ejs') %>