<%- include('./partials/head.ejs') %>
<section>
      <article>
          <h1>Ruil je <span>stekje!</span></h1>
          <h2>Hoe werkt het?</h2>
          <p>Heb jij één of meerdere plantenstekjes over en zou je die graag willen ruilen voor een nieuw plantje? Meld je stekje aan en kies er eentje uit de stekjeskast om te ruilen.</p>
          <p>Bekijk de stekjes die momenteel in de stekjeskast zitten. Kies er 1 (maximaal 2) uit en reserveer het stekje via de website. Kom het stekje ophalen bij de OBA Linnaeusstraat. De stekjes blijven na reservering 24 uur voor jou beschikbaar. Een stekje doneren mag natuurlijk ook! Hiervoor kun je gewoon langskomen bij de OBA en hoef je geen formulier in te vullen.</p>
      </article> 
      <img src="/assets/Home-plant-img.png" alt="#TODO" width="865" height="665">
</section>
<section>
  <h2>Nieuwste stekjes</h2>
          <article >
                  <img src="assets/no-image.svg" alt="geen image" />
                  <div>
                    <h3>naam</h3>
                  </div>
              <a href="#">Meer lezen</a>
          </div>
          </article>
</section>


<%- include('./partials/foot.ejs') %> 