<%- include('./partials/head.ejs') %>
<section class="our-workshops">
    <section class="our-workshops-title">
        <span>Onze</span>
        <span>Workshops</span>
    </section>
</section>
<%- include('./partials/foot.ejs') %>