<%- include('./partials/head.ejs') %>
<section class="our-workshops">
    <section class="workshops-wrapper">
        <section class="our-workshops-title">
            <span>Onze</span>
            <span>workshops</span>
        </section>
        <section class="our-workshops-text">
            Ben je geïnteresseerd in tuinieren en wil je je groene vingers verder ontwikkelen? Dan zijn workshops plantenstekken de ideale manier om je kennis en vaardigheden op het gebied van tuinieren uit te breiden. Deze workshops bieden een hands-on ervaring waarbij je leert hoe je planten op een duurzame en effectieve manier kunt vermeerderen door middel van stekken. <br><br>
            Tijdens een workshop plantenstekken krijg je de kans om te leren van ervaren tuiniers en experts op dit gebied. Ze zullen je begeleiden bij elke stap van het stekproces, van het selecteren van geschikte moederplanten tot het verzorgen van de stekken tot ze wortel schieten. Je leert welke planten geschikt zijn om te stekken, hoe je de juiste takken of scheuten selecteert en hoe je ze op de juiste manier snijdt en voorbereidt.
            <img src="/assets/plantingImage(1).png" class="workshops-page-main-image">
        </section>
    </section>

</section>

<section class="time-line">
    <section class="time-line-all-items">
         <section class="time-line-item">
            <div class="time-line-dot"></div>
            <p class="time-line-date">26-05-2023 | 10:00 - 14:00</p>
            <section class="time-line-content">
                <h2 class="time-line-item-title">Plantjes stekken</h2>
                <p class="time-line-item-text">Tijdens de workshop leren deelnemers verschillende technieken van planten stekken, zoals het snijden van stekjes en het planten van jonge plantjes. Het is een leuke en leerzame activiteit die kan bijdragen aan een grotere verbinding met de natuur en het vergroten van de biodiversiteit in de omgeving.</p>
            </section>
        </section>
        <section class="time-line-item">
            <div class="time-line-dot"></div>
            <p class="time-line-date">01-07-2023 | 10:30 - 13:30</p>
            <section class="time-line-content">
                <h2 class="time-line-item-title">Potjes schilderen</h2>
                <p class="time-line-item-text">Tijdens de workshop leren deelnemers verschillende technieken van planten stekken, zoals het snijden van stekjes en het planten van jonge plantjes. Het is een leuke en leerzame activiteit die kan bijdragen aan een grotere verbinding met de natuur en het vergroten van de biodiversiteit in de omgeving.</p>
            </section>
        </section>
    </section>
</section>

<%- include('./partials/foot.ejs') %>