<%- include('./partials/head.ejs') %>
<section class="our-workshops">
    <section class="our-workshops-title">
        <span>Onze</span>
        <span>workshops</span>
    </section>
    <section class="our-workshops-text">
        De eerste workshop ‘Planten stekken en verzorgen’ zal plaatsvinden in maart 2023 in de OBA Linnaeusstraat, meld je hier aan voor meer informatie en om op de hoogte te blijven.
    </section>
</section>

<section class="time-line">
    <section class="time-line-item planting-plants">
        <h3 class="item-title">Plantjes stekken</h3>
        <h4 class="item-date">26 Mei 2023 | 10:30 - 14:00</h4>
        <h4 class="item-location">Linnaeusstraat 44</h4>
        <section class="planting-plants-text">
            <p>
                Tijdens de workshop leren deelnemers verschillende technieken van planten stekken, zoals het snijden van stekjes en het planten van jonge plantjes. Het is een leuke en leerzame activiteit die kan bijdragen aan een grotere verbinding met de natuur en het vergroten van de biodiversiteit in de omgeving.
            </p>
        </section>
    </section>
</section>




<%- include('./partials/foot.ejs') %>