
:root{
 --background-color:rgba(251, 253, 252, 1);
 --background-color-green: #E5F6DF;
 --primary-color: rgba(51, 52, 103, 1);
 --secondary-color: rgba(229, 246, 223, 1);
 --third-color: #F26F21;
 --main-font: 'Mukta', sans-serif;
 --main-box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
 --text-color-white: white;
}

*{
  box-sizing: border-box;
  margin: 0;
  font: 100%/1.4 Arial, Helvetica, sans-serif;
  line-height: 110%;
  /* background-color: var(--background-color); */
  font-family: var(--main-font);
}

h2, h3, h4, p{
  max-width: 30rem;
}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.container > img{
  width: 100%;
  height: 100%;
}

.footer-social_media-button svg{
  width: 4em;
  padding: 0 .5em;
}

nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}

.plant-swap-logo{
  width: 7rem;
  height: auto;
}

.main-nav_list{
  position: absolute;
  top: 0;
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background-color: white;
  z-index: 1;
  transition: 0.3s ease-in-out;
  font-size: 20px;
  gap: 1rem;
  padding: 5rem 2rem;

}

.main-nav_list a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav_list a:nth-of-type(2){
  color: var(--third-color);
}

.main-nav_list-open{
  display: block;
  transform: translateX(0);
}

.chevron-right{
  width: 1.5rem;
}

.close-button{
  width: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

 /* Workshops */

 .our-workshops{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  gap: 1.5rem;
  margin: 5rem 0 0 0;
 }

 .our-workshops-title{
  font-size: 32px;
 }

 .our-workshops-title span:nth-of-type(1){
  font-weight: 800;
 }

 .our-workshops-title span:nth-of-type(2){
  color: var(--third-color);
  font-weight: 800;
 }

 /* PLANTS */
 .alle-stekjes-plants-h1{
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 800;
  text-align: center;
  margin: 1.5em;
 }

 .alle-stekjes-plants-h1-span{
  color: var(--third-color);
  font-weight: 800;
 }

 .plant-container{
  color: var(--primary-color);
  background-image: linear-gradient(var(--background-color-green), var(--background-color));
  min-height: 20em;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--main-box-shadow);
  margin-bottom: 2em;

 }
 
 .plant-container-text{
  padding: 1.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

 .plant-container-text > h2{
  font-size: 1.5em;
  font-weight: 800;
  margin: 0;
 }

 .plant-container-spans > span{
  font-weight: 1em;
  font-weight: 600;
  margin-bottom: 0.75em;
  display: flex;
  align-items: center;
 }

 .plant-container-spans > span > svg{
  margin-right: 0.25em;
 }

 .plant-container-img{
  width: 10em;
  object-fit: cover;
  border-radius: 0.5em;
 }

 .plant-container-button{
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  padding: 0.5em;
  border-radius: 1em;
 }
 /* PLANTS END */

 .our-workshops-text{
  color: black;
  font-weight: 800;
  width: 80%;
  line-height: 140%;
  max-width: 30rem;
 }

.time-line{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: var(--primary-color);
  margin: 5rem auto 5rem auto;
  width: 90%;
  height: 60rem;
}

.time-line:before{
  content: "";
  display: flex;
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: var(--secondary-color);
}

.item-title, .item-date, .item-location{
  margin: 0 0 0 3rem;
  font-weight: 700;
}

.item-title{
  font-size: 26px;
}

.item-location, .item-date{
  font-size: 18px;
}

.time-line-text{
  width: 80%;
  max-width: 30rem;
  margin: 1rem 0 0 3rem;
  background-image: linear-gradient(var(--background-color-green), var(--background-color));
  border-radius: 24px;
  padding: 1rem 1.5rem;
  color: black;
  box-shadow: var(--main-box-shadow);
}

.time-line-text p{
  font-weight: 700;
  line-height: 120%;
}

@media only screen and (min-width: 768px){

  /* NAV */

  nav{
    width: fit-content;
  }

  .menu-icon{
    display: none;
  }

  header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 1rem;
  }

  .main-nav_list{
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 0;
    width: fit-content;
    gap: 1.5rem;
  }

  .chevron-right{
    display: none;
  }

  .close-button{
    display: none;
  }

  .main-nav_list a{
    border: none;
    font-size: 16px;
    width: auto;
    padding: 0;
  }

  /* PLANTS DESKTOP */
  .desktop-plants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .plant-container{
    max-width: 25em;
  }
  /* PLANTS DESKTOP END */

}
